@{
  Layout = "_Layout";
}

<form action="/vendors" method="post">

  <label for="name">Name of Vendor</label>
  <input id="name" name="name" type="text">

  <label for="typeOfVendor">Type of Vendor</label>
  <input id="typeOfVendor" name="typeOfVendor" type="text">

  <button type="submit">Submit</button>
</form>
